<p id="notice"><%= notice %></p>

<h1>Favorite Songs</h1>


<p><%= link_to new_song_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add
  <% end %>
</p>

<div class="row">
    <% @songs.each do |song| %>
      <div class="col-md-6">
        <div class="well">
          <h2><%= link_to song.name, song %></h2>
          <h4>by <%= song.artist.name %></h4>

<p>
    <% "#{song.rating}".to_i.times do %>
     <span class="glyphicon glyphicon-star"></span>
    <% end %>
  </p>
          
          <p>
            <%= link_to 'Edit', edit_song_path(song) %> |
             <span class="glyphicon glyphicon-pencil"></span>
            <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
            <span class="glyphicon glyphicon-trash"></span>
          </p>
        </div>
      </div>
    <% end %>
  </div>



<%= link_to 'New Song', new_song_path %>
