<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>

<p><%= link_to new_artist_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add
  <% end %>
</p>


  <div class="row">
    <% @artists.each do |artist| %>
    <div class="col-md-8">
    <div class="well">
    <h2><%= link_to artist.name, artist %></h2>
<%= image_tag artist.avatar.url(:medium), class: "img-responsive" %>


        <%= link_to 'Show', artist %>
        <%= link_to 'Edit', edit_artist_path(artist) %>
        <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>  
  </div>
  </div>
    <% end %>


